.Hero {
  position: relative;
  height: 93vh;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;

  .slick-slide {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .Hero__item {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;

    img {
      width: 100%;
      height: 93vh;
      object-fit: cover;
    }
    .Hero__content {
      position: absolute;
      bottom: 75px;
      left: 150px;
      color: white;
      width: 70%;
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);

      img {
        position: absolute;
        width: 240px;
        height: 100px;
        z-index: 999;
        transform: translate(0, -70px);
        right: -22rem;
        // margin-top: -375px;
        // margin-left: 250px;
      }

      h1 {
        font-size: 2.2rem;
        margin: 0;
      }

      p {
        font-size: 1rem;
      }
    }
  }
}

@media (max-width: 1440px) {
  .Hero {
    .Hero__item {

    .Hero__content {
            img {
              margin-top: 55px;
              right: -15rem;
              width: 120px;
              height: 50px;

      }
    }}
    }
}

@media (max-width: 1024px) {
  .Hero {
    height: 100vh;
    .Hero__item {
      img {
        height: 100vh;
      }

      .Hero__content {
      margin-left: -75px;

      img {
        right: -8rem;
      }

    }}
    }

    
}

@media (max-width: 768px) {

  .Hero {
    .Hero__item {
      .Hero__content {


     img {
                    right: -7rem;

     }
    h1 {
      font-size: 1.5rem;
    }

    p {
      font-size: 0.875rem;
    }
  }
    }
  }

}

@media (max-width: 550px) {
  .Hero {
    height: 100vh;
    .Hero__item {
      img {
        height: 100vh;
      }

      .Hero__content {
        margin-left: -120px;

     img {

      right: -4rem;
     }

  }
    }

}  }
